<ul class="nav nav-pills    ">
  <li class="nav-item  ">
    <%= link_to "List all", libraries_path, class: "nav-link #{"active" if current_page?(libraries_path)}" %>
  </li>
  <li class="nav-item  ">
    <%= link_to "Add new", new_library_path, class: "nav-link #{"active" if current_page?(new_library_path)}" %>
  </li>
</ul>
