<main role="main" class="container mt-4">
  <h1>Libraries</h1>
  <hr class="my-3">
  <ul class="nav nav-pills    ">
    <li class="nav-item  active">
      <a href="/libraries" id="ember29" class="nav-link active ember-view">List all</a>
    </li>
    <li class="nav-item  ">
      <a href="/libraries/new" id="ember31" class="nav-link ember-view">Add new</a>
    </li>
  </ul>
  <hr class="my-3">
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <a href="/libraries" id="ember32" class="active ember-view btn btn-outline-info">All</a>
      <a href="/libraries?limit=abc" id="ember33" class="ember-view btn btn-outline-info">Abc</a>
    </div>
    <input placeholder="Filter by library name" id="ember34" class="ember-text-field ember-view form-control col-md-5" type="text">
  </div>
  <hr class="my-3">
  
  <div class="row row-cols-3">
    <% @libraries.each do |library| %>
      <%= render partial: "library", locals: { library: library } %>
    <% end %>
  </div>
</main>