<main role="main" class="container mt-4">
  <h1>Libraries</h1>
  <hr class="my-3">
  <ul class="nav nav-pills    ">
    <li class="nav-item  active">
      <a href="/libraries" id="ember29" class="nav-link active ember-view">List all</a>
    </li>
    <li class="nav-item  ">
      <a href="/libraries/new" id="ember31" class="nav-link ember-view">Add new</a>
    </li>
  </ul>
  <hr class="my-3">
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <a href="/libraries" id="ember32" class="active ember-view btn btn-outline-info">All</a>
      <a href="/libraries?limit=abc" id="ember33" class="ember-view btn btn-outline-info">Abc</a>
    </div>
    <input placeholder="Filter by library name" id="ember34" class="ember-text-field ember-view form-control col-md-5" type="text">
  </div>
  <hr class="my-3">
  <div class="row row-cols-3">
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Batz, Nicolas and Senger Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 59256 Ziemann Center, Kirstinstad</p>
          <p class="card-text">Phone: 1-705-892-7616 x0498</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l0/edit" id="ember35" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Baumbach Group Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 078 Kale Village, Port Johnnyton</p>
          <p class="card-text">Phone: (978) 063-1783 x32688</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l7/edit" id="ember36" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Bruen Inc Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 83553 Walsh Ridge, Lefflerchester</p>
          <p class="card-text">Phone: 931.117.5725 x0110</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0ko/edit" id="ember37" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Buckridge LLC Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 218 Jazmyn Knoll, Port Pearlberg</p>
          <p class="card-text">Phone: 1-984-482-1355 x1359</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVMRMBtuo505Ow6/edit" id="ember38" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Cole LLC Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 650 Nikki Heights, North Alisaport</p>
          <p class="card-text">Phone: 634.207.3170</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kq/edit" id="ember39" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Durgan - Hudson Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 2436 Champlin Park, South Yvonneberg</p>
          <p class="card-text">Phone: 949.420.4054</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kz/edit" id="ember40" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Ebert - Rice Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 7590 Blanda Loaf, Lake Wade</p>
          <p class="card-text">Phone: 973.525.5946 x1218</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l3/edit" id="ember41" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Feeney - Reichert Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 3741 Gleichner Gateway, Port Charlie</p>
          <p class="card-text">Phone: 1-973-753-6396</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0ku/edit" id="ember42" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Friesen - Schmeler Library chennai
        </div>
        <div class="card-body">
          <p class="card-text">Address: 3130 Leland Lakes, Misaelhaven</p>
          <p class="card-text">Phone: 718-892-3296</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          8
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAYz/edit" id="ember43" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Gaylord, Grimes and Wolff Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 663 Bashirian Throughway, New Heaven</p>
          <p class="card-text">Phone: 1-555-072-1570</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kw/edit" id="ember44" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Gislason, O'Conner and Schuppe Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 744 Alexandra Ridge, Legrosshire</p>
          <p class="card-text">Phone: (028) 250-4074 x94875</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0ks/edit" id="ember45" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Gleason, Huels and Dooley Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 439 Mitchell Islands, Wainoville</p>
          <p class="card-text">Phone: (283) 830-2772</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          8
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ1/edit" id="ember46" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Harber LLC Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 450 Adolf Unions, Port Otho</p>
          <p class="card-text">Phone: 1-751-371-9870 x099</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          7
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAYy/edit" id="ember47" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Hilpert and Sons Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 439 Ebert Circle, Lake Miahaven</p>
          <p class="card-text">Phone: 192.651.6280 x106</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l6/edit" id="ember48" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Kihn - Haag Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 68882 O'Connell Causeway, Breitenbergshire</p>
          <p class="card-text">Phone: 1-534-307-8142</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l5/edit" id="ember49" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Kihn, Wisozk and Powlowski Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 9830 Stark Cape, Lake Kaylee</p>
          <p class="card-text">Phone: 966-279-8435 x7362</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l1/edit" id="ember50" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Konopelski, Robel and Mitchell Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 7860 Reba Highway, Nienowville</p>
          <p class="card-text">Phone: (194) 926-7395</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l4/edit" id="ember51" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Kuhic - Ward Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 366 Kristin Trace, Lake Emery</p>
          <p class="card-text">Phone: (725) 739-3142 x14950</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          6
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguRcYl1flQIAJNx/edit" id="ember52" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Kulas and Sons Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 8053 Gerlach Stream, Strosinmouth</p>
          <p class="card-text">Phone: 398.532.0970</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kr/edit" id="ember53" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Kutch Group Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 7506 Jaleel Lake, North Rhiannonshire</p>
          <p class="card-text">Phone: 813.067.3994 x62361</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          11
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ2/edit" id="ember54" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          O'Hara, Abshire and Bernier Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 80408 Halvorson Knoll, Mackside</p>
          <p class="card-text">Phone: (098) 939-7821 x4815</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l2/edit" id="ember55" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          O'Hara, Will and Leuschke Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 7773 Haag Lock, East Jayneton</p>
          <p class="card-text">Phone: 158.790.7619 x85903</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          8
          </span>
          <span class="pull-right">
          <a href="/libraries/-NkWyPggi-BDk-GJsBaV/edit" id="ember56" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Ondricka, Grimes and Towne Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 019 Dicki Highway, Lake Abigayle</p>
          <p class="card-text">Phone: 667-249-1044</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          7
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ0/edit" id="ember57" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Pfannerstill, Shields and Predovic Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 77177 Dallin Flat, Emmerichmouth</p>
          <p class="card-text">Phone: (084) 381-8795</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          6
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ5/edit" id="ember58" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Reichel, Murray and Blick Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 83624 Hahn Bridge, Lake Owenbury</p>
          <p class="card-text">Phone: 315.860.9248 x210</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kp/edit" id="ember59" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Roberts - Green Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 1194 Ebert Highway, Port Brainmouth</p>
          <p class="card-text">Phone: 786.518.1389</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kv/edit" id="ember60" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Rogahn, Corkery and Toy Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 8693 Hermann Flat, Kihnbury</p>
          <p class="card-text">Phone: 1-195-271-4598</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          9
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ3/edit" id="ember61" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Schamberger Inc Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 445 Lexi Circles, Alejandraport</p>
          <p class="card-text">Phone: 837.761.8825</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kx/edit" id="ember62" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Stokes, Champlin and Watsica Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 2397 Esmeralda Junction, North Narcisoside</p>
          <p class="card-text">Phone: 443.363.8679</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          8
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ-/edit" id="ember63" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Streich - Reynolds Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 2569 Kaela Plains, Krajcikbury</p>
          <p class="card-text">Phone: (828) 649-3843</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVOb3w3MwuVWXvn/edit" id="ember64" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          test123
        </div>
        <div class="card-body">
          <p class="card-text">Address: </p>
          <p class="card-text">Phone: </p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          6
          </span>
          <span class="pull-right">
          <a href="/libraries/-NkFweOFIjUWQ0nLym7u/edit" id="ember65" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Waelchi, Powlowski and Kertzmann Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 92437 Nat Mountains, New Clemensside</p>
          <p class="card-text">Phone: 049-685-0962</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0ky/edit" id="ember66" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Wehner, Zboncak and Berge Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 4454 Glover Vista, West Kariane</p>
          <p class="card-text">Phone: 1-684-083-4036 x228</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0kt/edit" id="ember67" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Weimann, Weimann and Hills Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 901 Joel Mission, West Justusmouth</p>
          <p class="card-text">Phone: 1-719-371-0436 x051</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          8
          </span>
          <span class="pull-right">
          <a href="/libraries/-NiklguSaa0S_lqvNAZ4/edit" id="ember68" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Wisoky, Jerde and Kunde Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 409 Stefanie Circle, West Heloisefurt</p>
          <p class="card-text">Phone: 436-468-4047</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          6
          </span>
          <span class="pull-right">
          <a href="/libraries/-NkWyPggi-BDk-GJsBaW/edit" id="ember69" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card h-100">
        <div class="card-header">
          Zboncak - Willms Library
        </div>
        <div class="card-body">
          <p class="card-text">Address: 54722 Labadie Crescent, Lake Jermaine</p>
          <p class="card-text">Phone: (848) 352-5592 x9283</p>
        </div>
        <div class="card-footer">
          Number of books:
          <span class="text-left badge">
          0
          </span>
          <span class="pull-right">
          <a href="/libraries/-Nn3gpVNJ6IIZiknv0l-/edit" id="ember70" class="ember-view btn btn-success btn-xs">Edit</a>
          <button class="btn btn-danger btn-xs" type="button">Delete
          </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</main>